:root {
    --empty-state-bg-color: #f5f5f5;
    --empty-state-desc-color: #52525b;
}

[data-theme="dark"] {
    --empty-state-bg-color: #282828;
    --empty-state-desc-color: #a5a5ba;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--empty-state-bg-color);
    padding: 20px 0;
}

.icon {
    font-size: 26px;
    color: #52525b;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.description {
    color: var(--empty-state-desc-color);
}

.children {
    margin-top: 15px;
}