.popup {
    padding: 0 10px;
    color: black;
}

.popupName {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.popupType {
    margin: 0;
}

.popupList {
    margin-top: 6px;
    padding: 0;
}

.popupList > li {
    font-size: 14px;
    color: gray;
    list-style: none;
    margin: 0 !important;
    line-height: 18px;
}

.divider {
    height: 1px;
    background-color: #ececec;
}

.facilitiesWrapper {
    margin-bottom: 10px;
}

.facilitiesTitle {
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0;
}

.facility {
    font-size: 14px;
    border-radius: 16px;
}

.noFacilities {
    margin-bottom: 10px;
    font-size: 14px;
}

.popupParish {
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.toiletGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

.toiletGrid strong {
    font-size: 15px;
}

.toiletItem {
    font-size: 14px;
    color: gray;
    margin: 0;
    line-height: 18px;
}

.ownedBy {
    font-size: 12px;
    color: gray;
    margin-top: 10px;
    margin-bottom: 0;
}