.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureSvg {
    height: 200px;
    width: 200px;
}

.changelog {
    display: inline-block;
    background-color: rgb(169, 42, 219);
    color: white;
    padding: 6px 15px;
    border-radius: 10px;
}

.changelog:hover {
    color: white;
    background-color: #9821c7;
    text-decoration: none;
}