:root {
    --fg-help-text-color: #52525b;
}

[data-theme="dark"] {
    --fg-help-text-color: #b0b0c8;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup > label {
    margin-bottom: 5px;
    font-weight: 500;
}

.helpText {
    font-size: 14px;
    color: var(--fg-help-text-color);
    line-height: 18px;
    margin-bottom: 12px;
}