.popup {
    padding: 0 10px;
    color: black;
}

.popup > p {
    margin: 0;
}

.location {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.parish {
    font-size: 14px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 6px;
}

.servicesName {
    font-weight: bold;
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 3px;
}

.services {
    font-size: 14px;
    margin-bottom: 10px;
}

.services > li {
    line-height: 18px;
}

.notes {
    font-size: 14px;
    border-top: 1px solid #ececec;
    padding-top: 5px;
}