/* The below changes the styling of the categories in the sidebar */
.sidebar > div > nav > ul > li > div {
    border-bottom: 1px solid #ececec;
    font-weight: bold;
}

.sidebar > div > nav > ul > li > div:hover {
    background: none;
}

.sidebar > div > nav > ul > li > div > a {
    color: black;
}