.grid {
    display: flex;
}

.drawer {
    width: 300px;
    padding: 10px;
    overflow-y: scroll;
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {
    .drawer {
        width: 100%;
    }
    .grid {
        flex-direction: column-reverse;
    }
}

.error {
    width: 100%;
    background-color: darkred;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}