.popup {
    padding: 0 10px;
}

.popupAddress {
    margin: 0;
    font-size: 20px;
}

.popupParish {
    margin: 0;
}

.popupPadNumber {
    margin: 0;
    color: white;
    background-color: purple;
    width: fit-content;
    padding: 0 5px;
    border-radius: 50%;
}

.popupNotes {
    margin: 0;
    font-size: 12px;
    color: gray;
}