:root {
    --bg-color: #fefbfb;
    --border-color: #ececec;
}

[data-theme="dark"] {
    --bg-color: #242526;
    --border-color: #4c4e50;
}

.loadingOrFailed {
    border: 1px solid var(--border-color);
    padding: 20px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.loading > p {
    margin: 0;
    padding: 0;
    margin-top: 6px;
}

.failed > p {
    margin: 0;
    margin-bottom: 6px;
}

.fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    z-index: 1000;
}

.footer {
    display: flex;
    gap: 5px;
}

.toolbarButton {
    background-color: #ab17c8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.toolbarButton:hover {
    background-color: #9013b0;
}

.toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.viewTypeWrapper button {
    background-color: #ececec;
    border: none;
    padding: 5px 10px;
    margin-right: 2px;
    border-radius: 4px;
    cursor: pointer;
}

.viewTypeWrapper button:disabled {
    background-color: #bcbcbc;
}

.datePickerWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.datePickerWrapper button {
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    background-color: #ececec;
    cursor: pointer;
}

.datePickerWrapper button:disabled {
    background-color: #bcbcbc;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #ab17c8;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}