.input[type="email"],
.input[type="password"],
.input[type="text"] {
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.6rem !important;
    border: 1px solid #ccc !important;
    border-radius: 8px !important;
    font-size: 1rem !important;
}