.popup {
    padding: 0 10px;
}

.popup > p {
    margin: 0;
}

.address {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.streetName {
    font-size: 14px;
}

.parish {
    font-size: 14px;
    padding-bottom: 5px;
}

.padNumberTitle {
    font-size: 14px;
    border-top: 1px solid #ececec;
    padding-top: 5px;
    font-weight: bold;
}

.padNumber {
    height: 30px;
    width: 30px;
    color: white;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    border-radius: 50%;
}

.notes {
    font-size: 12px;
    border-top: 1px solid #ececec;
    padding-top: 5px;
    margin-top: 10px !important;
}